.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    margin-top: 5vh;
}

.container_main {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: auto;
    margin-bottom: 15vh;
}

.container_main img {
    width: 30vw;
    display: flex;
}

.main_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    text-align: left;
    width: 35vw;
}

.main_text h2 {
    margin-top: 2vh;
}

.main_text h1 {
    border: 1px solid #47414D;
    border-radius: 10vh;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    padding-left: 3vw;
    display: inline-block;
    height: 9vh;
    width: 32vw;
    position: relative;
  }

.main_text h1::after {
    content: "";
    position: absolute;
    right: 3vw;
    top: 5%;
    transform: translateY(-50%);
    width: 3vw;
    height: 3vw;
    background-image: url('../../data/logo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
  }

.container_about {
    position: relative;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    margin-bottom: 10vh;
    background-color: #fff;
    border: 1px solid #47414D;
    border-radius: 5vh;
}

.container_about ::after {
    content: "";
    position: absolute;
    right: 2vw;
    top: -2%;
    transform: translateY(-50%);
    width: 2vw;
    height: 2vw;
    background-image: url('../../data/logo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
  }

.about_text {
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 4vw;
    padding-right: 4vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container_description_1 {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: auto;
    margin-bottom: 10vh;
}

.container_description_2 {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: auto;
    margin-bottom: 15vh;
}

.description_text {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    height: auto;
    text-align: left;
    width: 55vw;
}

.container_description_1 img {
    height: 15vw;
}

.container_description_2 img {
    height: 15vw;
}
    
.description_text p {
    margin-block-start: 0;
    margin-block-end: 0;
}
    
.description_text h2 {
    border: 1px solid #47414D;
    border-radius: 10vh;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    padding-left: 2vw;
    display: inline-block;
    width: 25vw;
    position: relative;
    margin-bottom: 2vh;
}

.description_text p {
    margin-bottom: 2vh;
}

.description_text h2::after {
    content: "";
    position: absolute;
    right: 2vw;
    top: 8%;
    transform: translateY(-50%);
    width: 2vw;
    height: 2vw;
    background-image: url('../../data/logo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
  }

.container_psychologist {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10vh;
}

.container_psychologist h3 {
    margin-bottom: 2vh;
}

.ps_block_1 {
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: space-between;
    margin-top: 5vh;
}

.ps_block_2 {
    display: flex;
    flex-direction: row-reverse;
    height: auto;
    justify-content: space-between;
    margin-top: 5vh;
}

.ps_block_a {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ps_block_a_1 {
    border-radius: 10vh;
    background-color: #9827DD;
    color: #fff;
    padding: 1vw;
    text-align: center;
}

.ps_block_a_2 {
    border-radius: 5vh;
    border: 1px solid #47414D;
    color: #47414D;
    padding: 2vh 2vw;
    text-align: center;
}

.ps_block_a_3 {
    border-radius: 5vh;
    border: 1px solid #47414D;
    color: #47414D;
    padding: 2vh 2vw;
    text-align: center;
}

.ps_block_b_1 {
    width: 45%;
    border-radius: 5vh 5vh 0vh 5vh;
    border: 1px solid #47414D;
    padding: 2vh 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ps_block_b_2 {
    width: 45%;
    border-radius: 5vh 5vh 5vh 0vh;
    border: 1px solid #47414D;
    padding: 2vh 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ps_block_c {
    width: 15%;
    border-radius: 5vh;
    border: 1px solid #47414D;
}

.container_gratitude {
    position: relative;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    margin-bottom: 5vh;
    border: 1px solid #47414D;
    border-radius: 5vh;
}

.gratitude_text {
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 4vw;
    padding-right: 4vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}


@media (max-width: 600px) {
    .container_main {
        flex-direction: column;
        align-items: center;
    }

    .container_main img {
        margin-left: 0;
        margin-top: 2vh;
        width: 35vw;
    }

    .main_text {
        width: 75vw;
    }
}