.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    margin-top: 5vh;
}

.container_main {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: auto;
    margin-bottom: 7vh;
}

.container_main img {
    width: 30vw;
    display: flex;
}

.main_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    text-align: left;
    width: 35vw;
}

.main_text h2 {
    margin-top: 2vh;
}
/* 
.outline {
    outline: 1px ;
} */

.main_text h1 {
    border: 1px solid #47414D; /* Рамка 1px с цветом #47414D */
    border-radius: 10vh;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    padding-left: 3vw;
    display: inline-block;
    height: 9vh;
    width: 32vw;
    position: relative;
  }

.main_text h1::after {
    content: "";
    position: absolute;
    right: 3vw; /* Позиция от правого края заголовка */
    top: 5%; /* Центрирование по вертикали */
    transform: translateY(-50%);
    width: 3vw;
    height: 3vw;
    background-image: url('../../data/logo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
  }


@media (max-width: 600px) {
    .container_main {
        flex-direction: column;
        align-items: center;
    }

    .container_main img {
        margin-left: 0;
        margin-top: 2vh;
        width: 35vw;
    }

    .main_text {
        width: 75vw;
    }
}